.navIcon {
  border-radius: 50%;
  background: white;
  width: 48px;
  height: auto;
  border: 0;
}
.lines {
  font-size: 30px;
  margin: 0;
  padding-bottom: 3px;
}
.navIcon:hover {
  background: rgb(226, 225, 225);
  cursor: pointer;
}
