@import url(https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&family=Work+Sans:wght@400;600;700&display=swap);
h1,
h2,
h3,
button {
  font-family: "PT Serif", serif;
}

p,
label,
input {
  font-family: "Work Sans", sans-serif;
}

section.loginOverlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 540px;
  width: 310px;
  margin-top: 35px;
  border-radius: 5px;
  padding: 20px;
  background: #f3e4e1;
}

.loginOverlay.dark {
  background: #2f2926;
}

.loginHeader {
  font-size: 32px;
  text-align: center;
  margin: 0;
}

.loginBread {
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  margin-bottom: 30px;
}

input#username,
#password {
  width: 310px;
  height: 50px;
  background-color: #f3e4e1;
  border: 2px solid #2f2926;
  border-radius: 6px;
}

input[type="text"] {
  font-size: 16px;
}

label {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 10px 0 10px 10px;
}

#gdpr {
  margin: 10px 0 10px 10px;
  justify-self: flex-start;
}

.gdpr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-left: 0px;
}

.loginBtn {
  background: #2f2926;
  color: #ffffff;
  font-size: 24px;
  margin-top: auto;
  margin-bottom: 20px;
  width: 250px;
  height: 55px;
  border: 0;
  border-radius: 50px;
}

.loginBtn:hover {
  cursor: pointer;
  background-color: #e5674e;
}

section.orderHistory {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 540px;
  width: 310px;
  margin-top: 35px;
  border-radius: 5px;
  padding: 20px;
  color: #ffffff;
  height: 450px;
}

.orderUsername {
  font-size: 24px;
  margin-bottom: 0;
}

.orderEmail {
  font-size: 14px;
  margin-top: 0;
}

.orderList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.orderList p {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  margin: 0;
}

.logOutBtn {
  background: #2f2926;
  color: #ffffff;
  font-size: 24px;
  margin-top: auto;
  margin-bottom: 20px;
  width: 250px;
  height: 55px;
  border: 0;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  background: #e5674e;
}

.logOutBtn:hover {
  cursor: pointer;
  background-color: #e5674e;
  background: #f3e4e1;
  color: #2f2926;
}

section.menuList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 540px;
  width: 310px;
  margin-top: 35px;
  border-radius: 5px;
  padding: 20px;
  background: #f3e4e1;
  color: #2f2926;
}

section.menuItems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menuTitle {
  font-size: 42px;
  margin: 0 0 20px 0;
}

.addItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #2f2926;
  color: #ffffff;
  border: 0;
  padding: 0;
  margin: 15px 15px 0 0;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.addItem:hover {
  cursor: pointer;
  background-color: #e5674e;
  color: #2f2926;
}

.addItem p {
  margin: 0;
  font-size: 30px;
}

.itemTitle {
  font-size: 18px;
  margin: 0;
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
}

.itemPrice {
  font-size: 18px;
  text-align: right;
  margin: 0;
  -webkit-box-flex: 25%;
      -ms-flex: 25%;
          flex: 25%;
}

.itemDescription {
  font-size: 14px;
  margin-top: 0;
  margin-right: 30px;
}

section.cartContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 540px;
  width: 310px;
  margin-top: 35px;
  border-radius: 5px;
  padding: 20px;
  margin: 0;
  max-height: 500px;
  background: #ffffff;
  position: absolute;
  margin-left: 12px;
}

.allItemsContainer {
  -ms-overflow-style: none;
  /* for Internet Explorer, Edge */
  scrollbar-width: none;
  /* for Firefox */
  overflow-y: scroll;
}

.allItemsContainer::-webkit-scrollbar {
  display: none;
  /* for Chrome, Safari, and Opera */
}

.cartTitle {
  font-size: 32px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.orderTitle,
.orderPrice {
  margin: 0;
}

.orderTitle {
  font-size: 20px;
}

.orderContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
}

.totalAmount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  justify-self: flex-end;
  margin-top: auto;
}

.totalTitle {
  margin-right: 70%;
}

.totalTitle,
.orderTotal {
  margin-bottom: 0;
}

.orderInclude {
  margin-top: 0;
}

.payNow {
  background: #2f2926;
  color: #ffffff;
  font-size: 24px;
  margin-top: auto;
  margin-bottom: 20px;
  width: 250px;
  height: 55px;
  border: 0;
  border-radius: 50px;
}

.payNow:hover {
  cursor: pointer;
  background-color: #e5674e;
}

.navMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 10px;
  margin-top: 10px;
  width: 375px;
  height: 600px;
  display: flex;
  background: #2f2926;
  position: absolute;
}

/* sidebar Nav */
.navContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 375px;
  height: 0;
  background: #5555;
  margin: 0;
  position: absolute;
  z-index: 9;
}

.navbar {
  background: white;
  width: 375px;
}

.heading {
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.links {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 375px;
  height: 605px;
  margin-top: 0;
  position: absolute;
  background-color: #2f2926;
}

.links a {
  padding: 20px;
  font-family: "PT Serif", serif;
  font-size: 32px;
  color: #ffffff;
  text-decoration: none;
  display: block;
  text-align: center;
}

.linksList {
  list-style: none;
  padding: 0;
}

.links a:hover {
  color: #e5674e;
}

.cartBtn,
.menuBtn {
  border-radius: 50%;
  background: white;
  width: 48px;
  height: 48px;
  border: 0;
  margin-right: 267px;
}

.cartBtn:hover,
.menuBtn:hover {
  background: #e2e1e1;
  cursor: pointer;
}

section.statusContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 540px;
  width: 310px;
  margin-top: 35px;
  border-radius: 5px;
  padding: 20px;
  background: #cccccc;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.droneImg {
  margin-top: 20px;
}

.statusHeading {
  font-size: 36px;
  text-align: center;
}

.statusETA {
  margin: 0 0 auto 0;
}

.statusBtn {
  background: #2f2926;
  color: #ffffff;
  font-size: 24px;
  margin-top: auto;
  margin-bottom: 20px;
  width: 250px;
  height: 55px;
  border: 0;
  border-radius: 50px;
  background: #f3e4e1;
  color: #2f2926;
}

.statusBtn:hover {
  cursor: pointer;
  background-color: #e5674e;
}

.evaImg {
  width: 100px;
  height: auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
/*# sourceMappingURL=components.css.map */